<div class="card">
  <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('https://www.ihk.ch/sites/default/files/styles/panopoly_image_original/public/recht.jpg?itok=dE7wOzri');">
    <span class="card-category">Lawyer</span>
    <div class="card-description">
      <h2>Peter Richter</h2>
      <p>Business Law</p>
    </div>
    <img class="card-user avatar avatar-large" src="images/Hold.jpg">
    <a class="card-link" href="#" ></a>
  </div>
  <div class="card-footer">
    <p>Member since 10/05/18</p>
  </div>
</div>
