.profile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  grid-template-rows: 25% 25% 25% 25%;
  height: calc(575px);
  padding: 30px;
  opacity: 0.92;
}
.profile .main {
  grid-row: 1 / span 4;
  grid-column: 1 / span 1;
}
.profile .description {
  grid-row: 1 / span 2;
  grid-column: 2 / span 3;
}

.profile .book {
  grid-row: 3 / span 2;
  grid-column: 2 / span 3;
}

.profile .bio {
  grid-row: 1 / span 2;
  grid-column: 2 / span 3;
  background: #F4F4F4;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 20px;
  margin: 10px;
  // display: flex;
}

.profile .pic {
  grid-row: 1 / span 4;
  grid-column: 1 / span 1;
  background: #F4F4F4;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 20px;
  margin: 10px;
  // display: flex;
}

.main, .description, .stat, .book, {
  background: #F4F4F4;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 20px;
  margin: 10px;
  display: flex;
  vertical-align: center;
  // align-items: center;
  // justify-content: space-around;
}
@media (max-width: 940px) {
  .profile {
    display: block;
  }
}

/* Fonts and colors */

.profile h3 {
  font-size: 22px;
  margin-bottom: 15px;
}
.profile p {
  color: black;
}
.profile .btn {
  border-radius: 0;
  border: none;
  width: 100%;
  margin-top: 30px;
  background: #469AE0;
}
.profile .btn:hover {
  background: #3079AB;
  opacity: 0.7;
}
.stat h3 {
  color: #37B686;
  font-size: 28px;
}
.stat p {
  color: rgba(0,0,0,0.25);
  font-size: 19px;
}
.description h3 {
  color: rgba(0,0,0,0.9);
  font-size: 21px;
  font-weight: normal;
}
.description p {
  color: rgba(0,0,0,0.5);
  font-weight: lighter;
}

.form-control-label {
  margin-right: 10px;
}
