.wrapper-grey

.wrapper-blue{
              color: white;
               background: #3079AB;
               width: 100%;
               left: 0;
              }

.fullpage-wrapper{
  height: 100vh;
}
